@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "normalize.css";

/* font-family: "Roboto",
sans-serif; */

:root {
  --blue: #3A68B8;
  --bgc: #020A18;
  --white: #FFFFFF;
  --gray80: #B8BABE;
  --gray75: #B3B5B9;
  --gray70: #B4B7BB;
  --gray60: #9C9FA5;
  --itembgc: #101725;
  --duration: 0.3s;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 16px;
}

p {
  line-height: 1.6;
  font-weight: 600;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  background: var(--blue);
  border: none;
  cursor: pointer;
  transition: opacity var(--duration);

  svg {
    width: 15px;
  }

  &:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 1024px) {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: normal;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

nav {
  background: linear-gradient(to top, #0A111E, #0A121F, #0B121F, #0B1320);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;

    .nav__logo {
      display: flex;
      align-items: center;
      gap: 15px;

      h3 {
        color: var(--blue);
        font-weight: 600;
        font-size: 22.55px;
        margin: 0;
      }
    }

    .nav__menu {
      .nav__mobile_btn {
        display: none;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        width: 32px;
        height: 32px;

        svg {
          fill: var(--white);
        }
      }

      ul {
        display: flex;
        gap: 40px;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          a {
            display: block;
            text-decoration: none;
            font-weight: 600;
            color: var(--white);
            transition: opacity var(--duration);

            &:hover {
              opacity: 0.8;
            }
          }
        }

        @media screen and (max-width: 1024px) {
          gap: 16px
        }
      }
    }

    @media screen and (max-width: 768px) {
      .nav__menu {
        .nav__mobile_btn {
          display: block;
        }
        ul {
          display: none;
        }
      }
      .nav__sign_in {
        display: none;
      }
    }

    @media screen and (max-width: 390px) {
      .nav__logo {
        gap: 12px;

        svg {
          width: 35px;
          height: 47px;
        }

        h3 {
          font-size: 16px;
        }
      }
    }
  }
}

header {
  padding-top: 49px;
  padding-bottom: 99px;
  background: linear-gradient(to top, #08101D, #08101E, #09101E, #09111F);

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 48px;
    grid-template-areas:
      "content img"
      "partner partner"
    ;

    @media screen and (max-width: 1024px) {
      grid-template-areas:
        "content content"
        "img img"
        "partner partner"
      ;
    }

    .header__content {
      grid-area: content;
      align-self: center;

      h4 {
        color: var(--blue);
        font-weight: 600;
        font-size: 18px;
        line-height: 1.6;
        text-transform: uppercase;
        margin: 0;
      }

      h1 {
        font-weight: 800;
        line-height: 1.3;
        font-size: 55px;
        color: var(--white);
        margin-top: 10px;
        margin-bottom: 40px;

        @media screen and (max-width: 1024px) {
          font-size: 48px;
        }
        @media screen and (max-width: 768px) {
          font-size: 36px;
        }
        @media screen and (max-width: 580px) {
          font-size: 32px;
        }
      }

      p {
        margin: 0 0 50px 0;
        font-size: 18px;
        color: var(--gray70);
      }

      .header__content-btns {
        display: flex;
        gap: 20px;

        @media screen and (max-width: 380px) {
          flex-wrap: wrap;
          button {
            width: 100%;
            justify-content: center;
          }
        }
      }
    }

    .header__img {
      grid-area: img;
      img {width: 100%;}
    }

    .header__partners {
      grid-area: partner;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 72px;
      margin-top: 48px;

      .header__partners-item {
        width: 20%;
        svg {
          width: 100%;
        }

        @media screen and (max-width: 1024px) {
          width: 40%;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}

main {
  background-color: var(--bgc);
  .container {
    .section_one{
      padding-bottom: 130px;
      width: 100%;
      max-width: 1277px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--white);

      svg {
         width: 725px;
      }

      div {
        width: 100%;
        max-width: 485px;
        h1 {
          font-size: 40px;
          font-weight: 700;
          line-height: 1.3;
        }

        p {
          color: var(--gray70);
          font-size: 16px;
          font-weight: 600;
          line-height: 1.6;
          margin-bottom: 50px;
        }

        @media screen and (max-width: 1024px) {
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 14px;
          }
        }
      }

      @media screen and (max-width:768px) {
        flex-direction: column;
        padding-bottom: 64px;

        svg {
         width: 300px;
        }
        div{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          h1 {
            font-size: 25px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
  .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--bgc);

    .feature {
      width: 360px;
      height: 390px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to top, #0D1522, #0E1523, #101825, #131B28, #161D2A, #171E2B, #18202C);
      text-align: center;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 30px;

      h2 {
        font-weight: 700;
        font-size: 25px;
        line-height: 1.25;
        color: var(--white);
        
        @media screen and (max-width: 768px){
          font-size: 20px;
        }
      }

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.6;
        color: var(--gray80);
        
        @media screen and (max-width: 768px){
          font-size: 14px;
        }
      }

    }

    @media screen and (max-width: 1680px) {
      gap: 10px;
    }

    @media screen and (max-width: 1024px){
      gap: 30px;
    }
    @media screen and (max-width: 768px){
      justify-content: center;
    }
  }
  .container_two {
    width: 100%;
    max-width: 1145px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 150px 0;

    div {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2 {
        color: var(--white);
        font-size: 40px;
        font-weight: 700;
        line-height: 1.3;
        max-width: 650px;
        padding-bottom: 20px;
      }

      p {
        color: var(--gray75);
        max-width: 460px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.6;
      }
    }
    @media screen and (max-width: 1440px) {
      flex-direction: column-reverse;
      gap: 50px;

      div {
        h2 {
          font-size: 30px;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      div {
        align-items: center;
        text-align: center;

        h2 {
          font-size: 25px;
        }
      }
      svg {
        width: 500px;
      }
    }
    @media screen and (max-width: 768px) {
      gap: 20px;
      div {
        box-sizing: border-box;
        padding: 0 20px;
        h2 {
          font-size: 15px;
        }
        p {
          font-size: 12px;
        }
      }
      svg {
        width: 300px;
      }
    }
  }
}

/* Footer */

footer {
  background: linear-gradient(to top, #0D1522, #0E1523, #101825, #131B28, #161D2A, #171E2B, #18202C);

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    padding: 0 350px 150px;

    .footer_contact {
      width:285px;
      color: var(--white);
      
      h2 {
        color: var(--blue);
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
      }
      p {
        font-weight: 450;
        font-size: 14px;
        line-height: 1;
        color: var(--gray60);
      }
      div {
        a {
        display: flex;
        align-items: center;
        gap: 10px;
          text-decoration: none;
          p {
            color: var(--white);
          }
        }
      }
    }
    .footer_links {
      width: 100%;
      max-width: 555px;
      color: var(--white);
      display: flex;
      justify-content: space-between;
      .footer_links_link {
        display: flex;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 16px;
          line-height: 1;
          padding-bottom: 30px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 0;
          margin: 0;

          li{
            list-style: none;

            a {
              color: var(--gray60);
              font-size: 14px;
              line-height: 1;
              text-decoration: none;
            }
          }
        }
      }
    }
    .footer_about {
      width: 260px;

      h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        padding-bottom: 30px;
        color: var(--white);
      }

      p {
        color: var(--gray60);
        font-size: 14px;
        line-height: 1.5;
      }

      h4 {
        a {
          color: var(--white);
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .footer_about_icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
      }
      .footer_about_language {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    @media screen and (max-width: 1440px) {
      padding: 0 50px;
    }
    @media screen and (max-width: 1024px) {
      padding: 0;
      .footer_links {
        justify-content: center;
        gap: 5px;
        .footer_links_link {
          ul {
            gap:0;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      padding: 0;

      .footer_links {
        display: none;
      }
    }
    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .footer_about {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .footer_links {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}